/* build/index.css */
@font-face {
  font-family: "Gotham-Bold";
  src: url(./fonts/Gotham-Bold.otf);
}
@font-face {
  font-family: "Gotham-Light";
  src: url(./fonts/Gotham-Light.otf);
}
@font-face {
  font-family: "Gotham-Medium";
  src: url(./fonts/Gotham-Medium.otf);
}
body {
  background-color: #fff;
  margin: 0;
}
.rectangleGreen {
  background-color: #49c400;
}
.rectangleOrange {
  background-color: #ff9c24;
}
.rectangleWhite {
  background-color: #fff;
  display: table;
  text-align: center;
}
.rectangleWhite div {
  color: black;
  display: table-cell;
  vertical-align: middle;
  font-family: Gotham-Bold;
}
.rectangleBigBlack {
  background-color: #000;
}
.rectanglesGray {
  position: relative;
  margin: auto;
}
.rectangleGray1 {
  height: 100%;
  background-color: #959595;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#rectangleGray1 div {
  color: #fff;
  position: absolute;
  font-family: Gotham-Light;
  text-align: center;
}
.rectangleGray2 {
  height: 100%;
  background-color: #cccccc;
  float: right;
}
.rectangleDarkGray {
  background-color: #383838;
  position: relative;
  display: table;
}
.rectangleDarkGray div {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  font-family: Gotham-Medium;
  text-align: center;
}
.rectanglesColor {
  display: flex;
  background-color: #afafaf;
  justify-content: center;
}
.rectangleCian {
  background-color: #55ecce;
}
.rectangleBlue {
  background-color: #556eec;
}
.rectanglePing {
  background-color: #cc55ec;
}
